<ion-view view-title="Movies By Decade">
  <ion-content>
<!--    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
    <div class="chart-wrap">
      <canvas ng-if="showChart" class="chart" tc-chartjs-doughnut chart-options="chartOptions" chart-data="chartData" width="150" height="150"></canvas>
    </div>
    <div class="chart-description-wrap">
      <div ng-repeat="data in chartData">
        <span class="color-box" style="background: {{::data.color}}"></span>
        <span>{{::data.label}}</span>
      </div>
    </div>
  </ion-content>
</ion-view>
