<ion-view view-title="{{tabTitle}}">
  <ion-content class="padding">
    <div ng-repeat="movie in movies track by $index" class="movie">
      <div class="row">
        <div class="col-25">
          <img class="img-poster" ng-src="{{::movie.urlPoster}}" />
          <div class="favorite-wrap" ng-class="{active: movie.favorite}" on-tap="toggleFavorites(movie)">
            <i class="favorite-icon" 
               ng-class="{'ion-ios-star': movie.favorite, 'ion-ios-star-outline': !movie.favorite}"></i>
            <span class="favorite-title">Favorite</span>
          </div>
        </div>
        <div class="col-75">
          <div class="movie-item"><strong>Name:</strong> {{::movie.title}}</div>
          <div class="movie-item"><strong>Year:</strong> {{::movie.year}}</div>
          <div class="movie-item"><strong>Rate:</strong> {{::movie.rating}}</div>
          <div class="movie-item"><strong>Genre:</strong> {{::join(movie.genres)}}</div>
          <div class="movie-item"><strong>Country:</strong> {{::join(movie.countries)}}</div>
          <div class="movie-item"><strong>Director:</strong> 
            <span class="link" ng-repeat="director in movie.directors" on-tap="showDirectorInfo(director)">
              {{::director.name + ((!$last) ? ', ' : '')}}
            </span>
          </div>
          <button on-tap="getTrailer(movie)" 
                  ng-if="!movie.trailers && !movie.trailerLoading"
                  class="button button-small button-stable">Get Trailers</button>
          <ion-spinner ng-if="movie.trailerLoading" icon="ios-small"></ion-spinner>
          <button ng-if="movie.trailers" 
                  class="button button-small button-stable"
                  on-tap="showTrailer(trailer)"
                  ng-repeat="trailer in movie.trailers">
            {{trailer.quality}}
          </button>
        </div>
        
        
      </div>
    </div>
    <div ng-if="!movies || movies.length < 1" class="no-result">{{noResultTitle}}</div>
  </ion-content>
</ion-view>
