<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Top Rated Movies Tab -->
  <ion-tab title="Top Rated Movies" icon-off="ion-ios-film-outline" icon-on="ion-ios-film" href="#/tab/top-rated">
    <ion-nav-view name="tab-top-rated"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Movies By Decade" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/movies-by-decade">
    <ion-nav-view name="tab-movies-by-decade"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Favorite Movies" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>


</ion-tabs>
