/* Empty. Add your own CSS if you like */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-poster {
  width: 90%;
}
.movie {
  margin-top: 1em;
}
.movie-item {
  padding-bottom: .5em;
}

.chart {
  padding: 2em;
  margin-top: -2em;
}
.color-box {
  width: 2em;
  height: 1em;
  display: inline-block;
}
.chart-description-wrap {
  margin-left: 1em;
  column-count: 2; 
  -webkit-column-count: 2; 
}
.link {
  text-decoration: underline;
}
.favorite-wrap {
  position: relative;
  width: 100%;
  height: 2em;
  margin-top: 0.4em;
  color: #999;
}
.favorite-icon {
  position: absolute;
  top: 0;
  left: -0.2em;
  font-size: 2em;
}
.favorite-title {
  position: absolute;
  top: 0.5em;
  right: 0.8em;
}
.favorite-wrap.active {
  color: #000;
}
.favorite-wrap.active .favorite-icon {
  color: #C4C639;
}
.no-result {
  font-size: 1em;
  text-align: center;
  margin-top: 65%;
}